<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>home</title>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="/css/layui.css">
    <script src="/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-blue" style="width: 135px;">
        <div class="layui-side-scroll"  style="width: 130px;">
            <!--<ul id="tree" class="layui-nav-tree layui-nav-side"></ul>-->
            <div id="tree"></div>
        </div>
    </div>

    <!-- 主体内容 -->
    <div class="layui-tab" lay-filter="demo" lay-allowclose="true" >
        <ul class="layui-tab-title"></ul>
        <div class="layui-tab-content" id="aa"></div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
            layui.use('tree', function() {
                var $ = layui.jquery
                    , element = layui.element;
                layui.tree({
                    elem: "#tree",
                    nodes:getData(),
                    spread: true,
                    click:function (nodes) {
                            //新增一个Tab项
                            element.tabAdd('demo', {
                                icon:nodes.icon,
                                content: '<iframe data-frameid="'+nodes.id+'" scrolling="auto" frameborder="0" src="'+nodes.url+'" style="width:100%;height:99%;"></iframe>',
                                title:nodes.name//用于演示
                                ,url:"index.html"
                                ,id: nodes.id//实际使用一般是规定好的id，这里以时间戳模拟下
                            })

                    }


                });

            })
    });


function getData(){
        var html;
        $.ajax({
            url:"/testcontroller/getTree",
            type:"post",
            dataType:"text",
            async:false,
            success:function(data){
                html =JSON.parse(data);
            }
        });
        return html;
}




</script>
    <!--<h4 th:text="${list}">Hello World</h4>
12321321-->
</body>
</html>